html {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
html,
body {
   height: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   display: inline-block;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

body {
   // font-family: "Quicksand", sans-serif;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   line-height: 26px;
   font-weight: 400;
   letter-spacing: 0.6px;
   padding: 0;
   margin: 0;
   color: #8d8d8d;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   font-size: 48px;
   line-height: 65px;
   font-weight: 700;
   color: #29282d;
   text-align: center;
   margin-bottom: 10px;
   text-transform: uppercase;
}
.text {
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
   margin: 0 auto 55px;
   max-width: 570px;
}

.header--page404 {
   background-color: #f6f6f6;
}

.pagination {
   display: flex;
   justify-content: center;
   padding: 30px 0;
}
.pagination__prev {
   padding-left: 15px;
   &::before {
      background: url("../images/icons/angle_left.svg") no-repeat;
      left: 0;
   }
}
.pagination__next {
   padding-right: 15px;
   &::before {
      background: url("../images/icons/angle_right.svg") no-repeat;
      right: 0;
   }
}
.pagination__arrow {
   font-family: "Quicksand";
   font-weight: 500;
   color: #8d8d8d;
   text-transform: uppercase;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 10px;
      top: 8px;
   }
}
ul.pagination__list {
   display: flex;
   padding: 0 35px;
}
.pagination__item {
   padding: 0 15px;
}
.pagination__link {
   color: #8d8d8d;
}
.pagination__link--active {
   color: #fe3e57;
}
