$red: #fe3e57;
$title: #29282d;
$text2: #8d8d8d;
$bg: #f6f6f6;
$border: #ececec;

%btn {
   padding: 13px 26px;
   text-transform: uppercase;
   color: #fff;
   background-color: $red;
   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   cursor: pointer;
}
%checkbox-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
}
