@import "fonts.scss";
@import "libs.scss";
@import "global.scss";
@import "vars.scss";

.page404 {
   padding: 110px 0 120px;
}
.page404__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.page404__content {
   max-width: 590px;
}
.page404__title {
   margin-bottom: 20px;
   text-align: left;
}
.page404__text {
   text-align: left;
   margin: 0 0 55px;
   max-width: 500px;
}
.page404__link {
   @extend %btn;
   padding: 14px 35px;
   transition: all 0.3s linear;
}
.page404__link:hover {
   color: $red;
   background-color: #fff;
}


// SHOP

.shop {
   padding: 120px 0 105px;
}
.shop__inner {
   display: flex;
}
.shop__filters {
   width: 370px;
   margin-right: 30px;
}
.filter__item {
   border: 1px solid $border;
   padding: 30px;
   margin-bottom: 30px;
}
.filter__search-title {
   text-align: left;
   font-size: 22px;
   margin-bottom: 15px;
}
.filter__search-form {
   display: flex;
}
.filter__search-input {
   border: none;
   background-color: $bg;
   padding: 0px 5px 0px 15px;
   height: 50px;
   width: 260px;
}
.filter__search-btn {
   background-color: $red;
   border: none;
   height: 50px;
   width: 50px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.filter__price-label {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}
.filter__price-btn {
   @extend %btn;
   border: none;
   padding: 11px 27px;
}
.irs--flat .irs-line {
   top: 13px;
   height: 5px;
   background-color: $border;
   border-radius: 0;
   cursor: pointer;
}
.irs--flat .irs-handle {
   top: 0px;
   width: 30px;
   height: 30px;
   background-color: #fff;
   box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
   cursor: pointer;
}
.irs--flat .irs-handle > i:first-child {
   display: none;
}
.irs--flat .irs-bar {
   top: 13px;
   height: 5px;
   background-color: $red;
   cursor: pointer;
}
.irs-from,
.irs-to,
.irs-single {
   display: none;
   top: 50px;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
   display: none;
}

.filter__color-label {
   padding-bottom: 20px;
   border-bottom: 1px solid $border;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.filter__color-label + .filter__color-label {
   padding-top: 20px;
}
.filter__color-label:last-child {
   border-bottom: none;
   padding-bottom: 0;
}
.filter__color-input {
   @extend %checkbox-hidden;
   &:checked + .filter__color-checkbox {
      background-image: url("../images/icons/check-on.svg");
   }
}

.filter__color-checkbox {
   width: 16px;
   height: 16px;
   position: absolute;
   margin-left: -16px;
   margin-top: 7px;
}
.filter__color-checkbox--blue {
   background-color: #00aeef;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--red {
   background-color: #f52574;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--green {
   background-color: #24d4ac;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--orange {
   background-color: #ff7e00;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--black {
   background-color: #000;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--purple {
   background-color: #923899;
   background-repeat: no-repeat;
   background-position: center;
}

.filter__title {
   font-size: 22px;
   text-align: left;
}
.filter__size-label {
   display: block;
   padding-left: 35px;
   margin-bottom: 20px;
   cursor: pointer;
}
.filter__size-input {
   @extend %checkbox-hidden;
   &:checked + .filter__size-checkbox {
      background-image: url("../images/icons/check-on-red.svg");
      background-repeat: no-repeat;
      background-position: center;
      & + .filter__size-text {
         color: $red;
      }
   }
}
.filter__size-checkbox {
   width: 20px;
   height: 20px;
   border: 1px solid $text2;
   border-color: $red;
   position: absolute;
   border-radius: 50%;
   margin-left: -35px;
   margin-top: 3px;
}

.filter__category-title {
   font-size: 22px;
   text-align: left;
}
.filter__category-label {
   margin-bottom: 15px;
   cursor: pointer;
   display: block;
   &:last-child {
      margin-bottom: 0;
   }
}
.filter__category-input {
   @extend %checkbox-hidden;
   &:checked + .filter__category-checkbox {
      background-color: $red;
      color: #fff;
   }
}
.filter__category-checkbox {
   background-color: $bg;
   color: $title;
   display: flex;
   justify-content: space-between;
   padding: 16px 20px;
}

.filter__popular-label {
   display: inline-block;
   margin-bottom: 20px;
   margin-right: 3px;
   cursor: pointer;
   padding: 10px 0px;
}
.filter__popular-input {
   @extend %checkbox-hidden;
   &:checked + .filter__popular-checkbox {
      background-color: $red;
      border-color: $red;
      color: #fff;
   }
}
.filter__popular-checkbox {
   border: 1px solid $border;
   padding: 10px 20px;
}
.shop__content {
   width: 100%;
}
.shop__content-filter {
   border: 1px solid $border;
   padding: 20px 25px 20px 30px;
   margin-bottom: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.shop__content-filter__btns {
   display: flex;
   align-items: center;
}
.shop__content-filter__btn {
   padding: 0;
   border: none;
   background-color: transparent;
   margin-left: 15px;
   line-height: 0;
   outline: none;
   cursor: pointer;
   &.shop__content-filter__btn--active {
      path {
         fill: $red;
      }
   }
}
.jq-selectbox__select {
   margin-left: 30px;
   height: 32px;
   padding: 0 45px 0 10px;
   border: none;
   border-bottom-color: #b3b3b3;
   background: transparent;
   color: $text2;
   text-shadow: none;
   box-shadow: none;
   &:hover {
      background: transparent;
   }
}
.jq-selectbox__trigger {
   border-left: none;
}
.jq-selectbox__trigger-arrow {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 10px;
   height: 5px;
   border: none;
   background-image: url("../images/icons/angle-down.svg");
}
.shop__content-inner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   border: 1px solid #ececec;
   .products__item {
      margin-bottom: 40px;
   }
}

.products__page {
   padding: 120px 0 0;
}
.products__one-inner {
   display: flex;
}
.products__one-slide {
   width: 730px;
   margin-right: 70px;
}
.products__slide {
   display: flex;
   .slick-vertical .slick-slide {
      margin-bottom: 30px;
      height: 140px;
   }
}
.products__slide-thumb {
   width: 140px;
   margin-right: 30px;
}
.products__slide-thumb__item {
   margin-bottom: 30px;
   width: 140px;
   height: 140px;
   img {
      width: 140px;
      height: 140px;
      object-fit: cover;
   }
}
.products__slide-big {
   width: 560px;
   img {
      width: 560px;
      height: 650px;
      object-fit: cover;
   }
}
.products__one-content {
   width: 370px;
}
.products__one-title {
   font-weight: 500;
   font-size: 22px;
   color: $title;
}
.products__one-box {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.products__one-price {
   display: flex;
   font-size: 18px;
}
.products__one-price__new {
   color: $title;
}
.products__one-price__old {
   text-decoration: line-through;
   color: #ccccce;
   padding-left: 15px;
}
.products__one-item__star {
   display: flex;
   align-items: center;
   span {
      padding-left: 8px;
      color: $title;
      font-size: 22px;
   }
}
.products__one-text {
   margin-bottom: 35px;
   text-align: justify;
   span {
      display: block;
      color: $title;
      font-size: 18px;
      margin-bottom: 10px;
      font-family: "Roboto";
      font-weight: 500;
   }
}
.products__filter-color {
   margin-bottom: 30px;
   label {
      margin-right: 10px;
   }
}
.products__filter-color__title {
   color: $title;
   font-size: 18px;
   margin-bottom: 5px;
}
.products__filter-color__input {
   @extend %radio-hidden;
   &:checked {
      & + .products__filter-color__checkbox {
         border-color: $red;
      }
   }
}
.products__filter-color__checkbox {
   width: 24px;
   height: 24px;
   cursor: pointer;
   border: 1px solid #ccccce;
   position: relative;
   display: inline-block;
   span {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: red;
      top: 3px;
      left: 3px;
   }
}
.products__filter-size {
   margin-bottom: 30px;
   label {
      margin-right: 10px;
   }
}
.products__filter-size__title {
   color: $title;
   font-size: 18px;
   margin-bottom: 5px;
}
.products__filter-size__input {
   @extend %radio-hidden;
   &:checked {
      & + .products__filter-size__checkbox {
         border-color: $red;
      }
   }
}
.products__filter-size__checkbox {
   padding: 4px 12px;
   border: 1px solid #ccccce;
   display: inline-block;
   cursor: pointer;
}
.products__info-list {
   margin-bottom: 30px;
}
.products__info-item {
   margin-bottom: 5px;
   display: flex;
}
.products__info-title {
   min-width: 100px;
   color: $title;
   font-family: "Quicksand";
   font-weight: 500;
   font-size: 16px;
}
.products__info-text a {
   color: $text2;
}
.products__info-text a:hover {
   color: $red;
}
.products__info-link {
   path {
      fill: #ccccce;
   }
   & + .products__info-link {
      margin-left: 15px;
   }
   &:hover {
      path {
         fill: $red;
      }
   }
}
.jq-number__field {
   width: 114px;
   border: 1px solid #f0f0f0;
   transform: translateY(1px);
}
.jq-number__field input {
   width: 100%;
   height: 50px;
   border: none;
   outline: none;
   font-family: "Quicksand";
   font-weight: 500;
   text-align: center;
   color: $title;
}
.jq-number {
   padding: 0;
   position: relative;
}
.jq-number__spin {
   position: absolute;
   cursor: pointer;
   width: 12px;
   height: 12px;
   top: 50%;
   transform: translateY(-50%);
}
.jq-number__spin.plus {
   right: 15px;
}
.jq-number__spin.plus::after {
   top: 4px;
}
.jq-number__spin.minus {
   left: 15px;
}
.jq-number__spin:after {
   content: "";
   position: absolute;
   top: 6px;
   left: 0px;
   width: 12px;
   height: 1px;
   background-color: $title;
}
.jq-number__spin.minus:after {
   top: 4px;
   border: none;
   left: 0;
}
.jq-number__spin.plus::before {
   content: "";
   position: absolute;
   width: 1px;
   height: 12px;
   top: -1px;
   left: 6px;
   background-color: $title;
}

.products__filter-btn {
   @extend %btn;
   border: none;
   text-transform: none;
   margin-left: 15px;
}
.products__tabs {
   padding-top: 110px;
}
.products__tabs-top {
   border-bottom: 1px solid #f0f0f0;
   margin-bottom: 40px;
}
.products__tabs-top a {
   font-size: 22px;
   color: $text2;
}
.products__tabs-top__item {
   display: inline-block;
   margin-bottom: 10px;
   & + .products__tabs-top__item {
      margin-left: 55px;
   }
}
.products__tabs-top__item.products__tabs-top__item--active {
   color: $title;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $red;
   }
}
.products__tabs-content__item {
   display: none;
}
.products__tabs-content__item.products__tabs-content__item--active {
   display: block;
}

.comments {
   margin-bottom: 40px;
   display: flex;
}
.comments__img {
   width: 110px;
   height: 71px;
   margin-right: 30px;
   border-radius: 50%;
   overflow: hidden;
   object-fit: cover;
}
.comments__content-top {
   display: flex;
   margin-bottom: 10px;
}
.comments__content-name {
   color: $title;
   margin-right: 13px;
}
.comments__content-data {
   padding-left: 13px;
   border-left: 1px solid $text2;
}
.comments__content-star {
   margin-left: auto;
   margin-right: 0;
}
.comments__content-text {
   margin-bottom: 10px;
}
.comments__content-reply {
   display: inline-block;
   padding-left: 25px;
   position: relative;
   color: $text2;
   &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      background-image: url("../images/icons/back-arrow.svg");
      width: 15px;
      height: 13px;
   }
}

.comments__form {
   border-bottom: 1px solid $border;
   padding-bottom: 60px;
}
.comments__form-title {
   color: $title;
   font-size: 22px;
   margin-bottom: 35px;
   padding-bottom: 10px;
   position: relative;
   &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 2px;
      width: 50px;
      background-color: $red;
   }
}
.comments__form-rating {
   margin-bottom: 30px;
}
.comments__form-rating__title {
   color: $title;
   margin-right: 60px;
}
.comments__form-label {
   margin-right: 25px;
}
.comments__form-input {
   @extend %radio-hidden;
   &:checked + .comments__form-radio {
      path {
         fill: #ffc35b;
      }
   }
}
.comments__form-radio {
   cursor: pointer;
   path {
      fill: $text2;
   }
}
.comments__form-box__input {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.comments__form-text__input {
   display: inline-block;
   width: 570px;
   padding: 0 20px;
   height: 50px;
   border: 1px solid #f0f0f0;
}
.comments__form-textarea {
   display: block;
   width: 100%;
   height: 225px;
   border: 1px solid #f0f0f0;
   padding: 15px 20px;
   resize: none;
   margin-bottom: 40px;
}
.comments__form-btn {
   border: none;
   @extend %btn;
}

.related {
   padding: 60px 0 120px;
}
.related__title {
   margin-bottom: 50px;
}
.related__items {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 30px;
   .products__item {
      max-width: 370px;
   }
   .products__item-img__box {
      height: auto;
   }
   .products__item__title {
      font-size: 18px;
      line-height: 1;
      padding: 15px 0 5px;
   }
}

.blog__page {
   padding: 120px 0 60px;
}
.blog__page-inner {
   display: flex;
   justify-content: space-between;
}
.blog__page-content {
   width: 770px;
   margin-right: 30px;
}
.blog__page-item {
   margin-bottom: 60px;
   .blog__box {
      justify-content: start;
   }
}
.blog__page-link {
   display: block;
}
.blog__page-img {
   max-width: 770px;
   height: 450px;
   object-fit: cover;
   display: block;
}
.blog__page-item__box {
   padding: 40px;
   border: 1px solid $border;
   border-top: none;
}
.blog__page-item__title a {
   color: $title;
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 20px;
   &:hover {
      color: $red;
   }
}
.blog__box-author {
   color: $text2;
   margin-right: 20px;
}
.blog__page-aside {
   width: 370px;
}
.blog__page-item.blog__page-item--no-img {
   border-top: 1px solid $border;
   box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
}
.blog__page-item--slider {
   .slick-prev,
   .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
      path {
         fill: #fff;
      }
      &:hover {
         background-color: #fff;
         path {
            fill: $red;
         }
      }
   }
   .slick-prev {
      left: 40px;
   }
   .slick-next {
      right: 40px;
   }
   .slick-disabled {
      background-color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
      path {
         fill: $red;
      }
   }
}

.person {
   padding: 40px 30px 30px;
   border: 1px solid $border;
   text-align: center;
   margin-bottom: 40px;
}
.person__img {
   margin: 0 auto;
   margin-bottom: 30px;
   display: inline-block;
   width: 160px;
   height: 160px;
   object-fit: cover;
}
.person__name {
   margin-bottom: 5px;
   color: $title;
   font-size: 18px;
   font-weight: 700;
}
.person__position {
   margin-bottom: 20px;
   color: $red;
   font-family: "Quicksand";
   font-weight: 500;
}
.person__text {
   margin-bottom: 20px;
   text-align: justify;
}
.person__social-link {
   path {
      fill: $text2;
   }
   &:hover {
      path {
         fill: $red;
      }
   }
}
.person__social-link + .person__social-link {
   margin-left: 5px;
}

.latestpost {
   padding: 40px 20px 30px;
   border: 1px solid $border;
   margin-bottom: 40px;
}
.latestpost__title {
   color: $title;
   text-transform: uppercase;
   font-size: 22px;
   margin-bottom: 35px;
}
.latestpost__item {
   display: flex;
   margin-bottom: 20px;
   & + .latestpost__item {
      border-top: 1px solid $border;
      padding-top: 20px;
   }
}
.latestpost__img-link {
   display: block;
   margin-bottom: 20px;
   min-width: 80px;
}
.latestpost__item-img {
   width: 80px;
   height: 80px;
   object-fit: cover;
}
.latestpost__title-link {
   margin-left: 15px;
   font-size: 18px;
   color: $title;
   margin-bottom: 5px;
   line-height: 28px;
   font-weight: 400;
}
.latestpost__box-title {
   text-transform: none;
   font-size: 18px;
}
.latestpost__data {
   color: $text2;
   padding-left: 30px;
   position: relative;
   &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 4px;
      background: url("../images/icons/time.svg") center no-repeat;
      width: 20px;
      height: 20px;
   }
}

.blogone {
   .comments__form {
      border-bottom: none;
   }
   .comments__img {
      width: 165px;
   }
}
.blogone__content {
   text-align: justify;
   &-text {
      h4 {
         color: $title;
         font-size: 22px;
         font-weight: 500;
         margin: 25px 0;
      }
      p {
         margin: 25px 0;
      }
      blockquote {
         background-color: $bg;
         border-left: 3px solid $red;
         padding: 35px;
         color: $title;
         font-size: 22px;
         margin: 25px 0;
      }
   }
}
.blogone__content-text {
   border: 1px solid $border;
   border-top: none;
   padding: 30px;
   margin-top: -1px;
}
.blogone__info {
   display: flex;
   justify-content: start;
}
.blogone__info-link {
   margin-right: 30px;
   padding-left: 30px;
   position: relative;
   color: $text2;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 26px;
      background-size: cover;
   }
}
.blogone__info-link--data {
   &::before {
      background: url("../images/icons/time.svg") center no-repeat;
      top: -4px;
   }
}
.blogone__info-link--comment {
   &::before {
      background: url("../images/icons/comment.svg") center no-repeat;
   }
}
.blogone__info-link--author {
   &::before {
      background: url("../images/icons/author.svg") center no-repeat;
   }
}
.blogone__content-limg {
   float: left;
   margin-right: 30px;
   margin-bottom: 10px;
}
.blogone__content-rimg {
   float: right;
   margin-right: 30px;
   margin-bottom: 10px;
}
.blogone__box {
   padding: 25px 30px;
   display: flex;
   justify-content: space-between;
}
.blogone__tags,
.blogone__share {
   span {
      color: $title;
      text-transform: uppercase;
   }
}
.blogone__tags a {
   color: $text2;
   &:hover {
      text-decoration: underline;
   }
}
.blogone__share {
   a {
      margin-right: 10px;
      vertical-align: middle;
      line-height: 1;
      path {
         fill: $text2;
      }
      &:hover {
         path {
            fill: $red;
         }
      }
   }
}
.blogone__author {
   display: flex;
   border-bottom: 1px solid $border;
   margin-bottom: 40px;
   padding-bottom: 40px;
}
.blogone__author-img {
   width: 140px;
   height: 140px;
   object-fit: cover;
   margin-right: 30px;
}
.blogone__author-title {
   color: $title;
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 30px;
}
.comment__title {
   color: $title;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 25px;
}
.blogone__form-title {
   color: $title;
   font-size: 24px;
   margin: 35px 0 25px;
   text-transform: uppercase;
   font-weight: 700;
}

.map {
   padding: 120px 0;
}
#map {
   width: 1170px;
   height: 450px;
   margin: 0 auto;
}
.contacts {
   padding-bottom: 120px;
}
.contacts__inner {
   display: flex;
   justify-content: space-between;
}
.contacts__info {
   max-width: 370px;
   margin-right: 30px;
}
.contacts__info-title {
   color: $title;
   font-weight: 700;
   font-size: 48px;
   line-height: 58px;
   margin-bottom: 30px;
}
.contacts__info-text {
   font-family: "Quicksand";
   font-weight: 500;
   text-align: justify;
   margin-bottom: 60px;
}
.contacts__info-item {
   margin-top: 55px;
   color: $title;
   padding-left: 80px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 60px;
      height: 60px;
      box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
   }
   &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 20px;
      width: 20px;
      height: 20px;
   }
}
.contacts__info-item--tel::after {
   background: url("../images/icons/tel.svg") center no-repeat;
}
.contacts__info-item--address::after {
   background: url("../images/icons/map.svg") center no-repeat;
}
.contacts__info-item--email::after {
   background: url("../images/icons/message.svg") center no-repeat;
}
.contacts__info-tel {
   display: block;
   color: $title;
   &:hover {
      text-decoration: underline;
   }
}
.contacts__info-email {
   display: block;
   color: $title;
   &:hover {
      text-decoration: underline;
   }
}
.contacts__form {
   padding: 60px 40px;
   box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
   min-width: 770px;
}
.contacts__form-title {
   color: $title;
   font-size: 22px;
   font-weight: 700;
   margin-bottom: 30px;
}
.contacts__form-box {
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   input {
      width: 330px;
   }
}
.contacts__form-input {
   height: 60px;
   width: 100%;
   display: block;
   background-color: $bg;
   border: none;
   padding: 0 24px;
}
.contacts__form-textarea {
   margin: 20px 0;
   width: 100%;
   height: 200px;
   resize: none;
   display: block;
   background-color: $bg;
   border: none;
   padding: 24px;
}
.contacts__form-btn {
   @extend %btn;
}

@import "media.scss";
