@import "fonts.scss";
@import "global.scss";
@import "vars.scss";

.header {
   padding: 40px 0;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list {
   display: flex;
}
.menu__list-item + .menu__list-item {
   padding-left: 35px;
}
.menu__list-link {
   font-size: 16px;
   color: $title;
   font-weight: 400;
   line-height: 1.2;
   text-transform: uppercase;
   transition: all 0.3s ease;
}
.menu__list-link:hover {
   color: $red;
   border-bottom: 1px solid #fe3e57;
}
.menu__list-link--active {
   color: $red;
   border-bottom: 1px solid $red;
   font-weight: bold;
}
.user__nav {
   display: flex;
}
.user__nav-link {
   position: relative;
}
.user__nav-link + .user__nav-link {
   padding-left: 25px;
}
.user__nav-num {
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: $red;
   top: -10px;
   right: -14px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   font-size: 12px;
}

.footer {
   background-color: $bg;
}
.footer__top {
   padding: 70px 0 40px;
   border-bottom: 1px solid $text2;
   display: flex;
}
.footer__top-item__contact {
   width: 240px;
   margin-right: 50px;
}
.footer__top-item__nav {
   width: 170px;
   margin-right: 30px;
}
.footer__top-item__form {
   max-width: 470px;
}
.footer__top-item .logo {
   display: block;
   margin-bottom: 33px;
}
.footer__top-address,
.footer__top-email,
.footer__top-phone,
.footer__top-list a {
   color: $text2;
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 36px;
}
ul.footer__top-social__list {
   margin-top: 30px;
   display: flex;
   align-items: center;
}
.footer__top-social__item + .footer__top-social__item {
   padding-left: 18px;
}
.footer__top-social__link {
   transition: all 0.3s;
   path {
      fill: $text2;
   }
   &:hover {
      path {
         fill: $red;
      }
   }
}
.footer__top-title {
   font-size: 22px;
   color: $title;
   margin-bottom: 43px;
   line-height: 1;
}
.footer__top-text {
   margin-bottom: 30px;
}
.footer__top-form {
   display: flex;
}
.footer__top-form__input {
   min-width: 320px;
   width: 100%;
   border: none;
   padding: 12px 15px 12px 15px;
   font-size: 16px;
   box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}
.footer__top-form__button {
   border: none;
   padding: 12px 26px;
   background-color: $red;
   color: #fff;
   font-size: 16px;
   text-transform: uppercase;
   text-align: center;
   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   margin-left: 10px;
   cursor: pointer;
}
.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
}
.footer__bottom-copy {
   font-style: 12px;
}
.footer__bottom-accept__img {
   display: inline-block;
   margin-left: 25px;
   vertical-align: middle;
}

@import "media.scss";
