@import "fonts.scss";
@import "libs.scss";
@import "global.scss";
@import "vars.scss";

.header {
   padding: 40px 0;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list {
   display: flex;
}
.menu__list-item + .menu__list-item {
   padding-left: 35px;
}
.menu__list-link {
   font-size: 16px;
   color: $title;
   font-weight: 400;
   line-height: 1.2;
   text-transform: uppercase;
   transition: all 0.3s ease;
   padding: 0 2px 1px;
}
.menu__list-link:hover {
   color: $red;
   border-bottom: 1px solid #fe3e57;
}
.menu__list-link--active {
   color: $red;
   border-bottom: 1px solid $red;
   font-weight: bold;
}
.user__nav {
   display: flex;
}
.user__nav-link {
   position: relative;
}
.user__nav-link + .user__nav-link {
   padding-left: 25px;
}
.user__nav-num {
   position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: $red;
   top: -10px;
   right: -14px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   font-size: 12px;
}

.top__container {
   max-width: 1700px;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 120px 0 130px;
   text-align: center;
}
.top-title {
   font-size: 48px;
   font-weight: 400;
   text-transform: uppercase;
}
.breadcrumbs {
   display: inline-flex;
   justify-content: center;
   position: relative;
   padding-left: 25px;
   &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../images/icons/home.svg");
   }
}
.breadcrumbs__list {
   display: flex;
}
.breadcrumbs__item {
   font-family: "Quicksand";
   font-weight: 500;
   color: #727272;
   padding-right: 40px;
   position: relative;
   &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: 15px;
      width: 9px;
      height: 10px;
      background-image: url("../images/icons/angle-right.svg");
   }
   &:last-child {
      color: $red;
      &::after {
         display: none;
      }
   }
}
.breadcrumbs__link {
   color: inherit;
}

.modal {
   max-width: 570px;
   margin: 0 auto 115px;
   padding-top: 100px;
}
.modal__links {
   margin-bottom: 40px;
   text-align: center;
}
.modal__link {
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 400;
   color: #909090;
   margin: 0 30px;
}
.modal__link--active {
   color: $red;
}
.modal__form {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
}
.modal__label {
   display: block;
   margin-bottom: 40px;
}
.modal__label--checkbox {
   margin-bottom: 20px;
}
.modal__input {
   display: block;
   width: 100%;
   border: none;
   background-color: $bg;
   margin-top: 4px;
   height: 60px;
   padding: 0 15px;
}
.modal__text {
   margin-bottom: 25px;
}
.modal__btn {
   background-color: $title;
   color: #fff;
   border: none;
   display: block;
   width: 100%;
   padding: 14px 0;
   cursor: pointer;
   text-transform: uppercase;
}
.modal__error {
   color: $red;
   margin-top: 12px;
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
}

.page404 {
   padding: 110px 0 120px;
}
.page404__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.page404__content {
   max-width: 590px;
}
.page404__title {
   margin-bottom: 20px;
   text-align: left;
}
.page404__text {
   text-align: left;
   margin: 0 0 55px;
   max-width: 500px;
}
.page404__link {
   @extend %btn;
   padding: 14px 35px;
   transition: all 0.3s linear;
}
.page404__link:hover {
   color: $red;
   background-color: #fff;
}

.top__slider {
   background: url("../images/slider/bg.png") no-repeat;
   background-size: contain;
   background-color: $bg;
   padding: 65px 0 45px;
   .container {
      max-width: 1560px;
   }
}
.top__slider-item {
   display: flex !important;
   justify-content: space-between;
}
.top__slider-content {
   padding-left: 175px;
   padding-top: 125px;
}
.top__slider-title {
   font-size: 58px;
   line-height: 68px;
   color: $title;
   font-weight: 700;
   margin-bottom: 35px;
}
.top__slider-text {
   color: $text2;
   font-size: 16px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   margin-bottom: 55px;
   min-width: 470px;
}
.top__slider-link {
   font-size: 16px;
   @extend %btn;
   padding: 13px 36px;
}
ul.slick-dots {
   display: flex;
   justify-content: center;
   margin-top: -70px;
   li {
      padding: 0 5px;
      line-height: 0;
      button {
         padding: 0;
         font-size: 0;
         background-color: transparent;
         border: 1px solid transparent;
         border-radius: 50%;
         width: 26px;
         height: 26px;
         position: relative;
         &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $text2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
      &.slick-active {
         button {
            border-color: $red;
            &::before {
               background-color: $red;
            }
         }
      }
   }
}

.categories-info {
   padding: 120px 0;
   background: url("../images/category/decor/bg-left.png") no-repeat;
   background-position: center left;
}
.categories-info__inner {
   background: url("../images/category/decor/bg-right.png") no-repeat;
   background-position: center right;
}
.info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 110px;
   position: relative;
   &::before,
   &::after {
      content: "";
      position: absolute;
      z-index: -1;
   }
   &::before {
      background-image: url("../images/category/decor/before.png");
      top: -40px;
      left: -44px;
      width: 120px;
      height: 121px;
   }
   &::after {
      background-image: url("../images/category/decor/after.png");
      bottom: -20px;
      right: -20px;
      width: 65px;
      height: 52px;
   }
}
.info__item {
   width: 370px;
   padding: 60px 30px;
   box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
   background: #fff;
}
.info__item-title.title {
   text-transform: none;
   font-size: 22px;
   line-height: 26px;
   text-align: left;
   font-weight: 400;
   margin: 30px 0 20px;
}
.categories__inner {
   display: grid;
   min-height: 635px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 30px;
}
.categories__item {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   padding: 35px 0 0 40px;
   &:nth-child(1) {
      grid-row-start: span 2;
      .categories__item-subtitle,
      .categories__item-link:hover {
         color: #5800e4;
      }
      .categories__item-link:hover {
         text-decoration: underline;
      }
   }
   &:nth-child(2) {
      grid-column-start: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .categories__item-subtitle,
      .categories__item-link:hover {
         color: $red;
      }
      .categories__item-link:hover {
         text-decoration: underline;
      }
   }
   &:nth-child(3) {
      .categories__item-subtitle,
      .categories__item-link:hover {
         color: #ffbe44;
      }
      .categories__item-link:hover {
         text-decoration: underline;
      }
   }
   &:nth-child(4) {
      .categories__item-subtitle,
      .categories__item-link:hover {
         color: #4dc8fc;
      }
      .categories__item-link:hover {
         text-decoration: underline;
      }
   }
}
.categories__item-subtitle {
   font-family: "Quicksand";
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
}
.categories__item-title.title {
   font-size: 22px;
   text-align: left;
   margin-bottom: 16px;
   line-height: 26px;
}
.categories__item-link {
   font-weight: 400;
   color: $title;
   text-transform: uppercase;
   transition: all 0.3s linear;
}

.video__fashion {
   background-color: $bg;
   background-image: url("../images/video/bg.svg");
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 125px 0;
}
.video__fashion__inner {
   display: flex;
}
.video__fashion__popup {
   margin-right: 65px;
   max-width: 530px;
   width: 100%;
   height: 480px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.video__fashion__play {
   display: flex;
   justify-content: center;
   align-items: center;
}
.video__fashion__subtitle {
   font-family: "Quicksand";
   font-size: 22px;
   font-weight: 500;
   color: $red;
}
.video__fashion__title {
   text-align: left;
   margin: 25px 0 35px;
}
.video__fashion__text {
   margin-bottom: 60px;
}
.video__fashion__link {
   @extend %btn;
}

.products {
   padding: 105px 0 120px;
}
.products__items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 45px 30px;
}
.products__item {
   max-width: 370px;
   text-align: center;
   &:hover {
      .products__item-link__box {
         transform: translateY(0%);
      }
   }
}
.products__item-img__box {
   position: relative;
   height: 370px;
   overflow: hidden;
   margin-bottom: 25px;
}
.products__item-img {
   object-fit: cover;
}
.products__item-link__box {
   position: absolute;
   bottom: 50px;
   left: 0;
   right: 0;
   background-color: #fff;
   width: 210px;
   height: 50px;
   margin: 0 auto;
   border-radius: 25px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   transform: translateY(300%);
   transition: all 0.3s linear;
}
.products__item-link__line::before,
.products__item-link__line::after {
   position: absolute;
   content: "";
   height: 30px;
   width: 1px;
   background-color: #ececec;
   top: 10px;
}
.products__item-link__line::before {
   left: 70px;
}
.products__item-link__line::after {
   right: 70px;
}
.products__item-link {
   display: inherit;
   path {
      transition: all 0.3s linear;
   }
}
.products__item-link:hover {
   path {
      fill: $red;
   }
}
.star {
   margin: 0 auto;
}
.products__item__title {
   font-size: 22px;
   font-weight: 400;
   text-transform: none;
   padding: 15px 0 20px;
}
.products__item__price {
   display: flex;
   justify-content: center;
}
.products__item-old__price {
   color: $text2;
   padding: 0 12px;
   text-decoration: line-through;
}
.products__item-new__price {
   font-size: 16px;
   font-weight: 400;
   padding: 0 12px;
   color: $title;
   font-weight: 500;
}
.products__item-sale {
   .products__item-img__box::before {
      content: "SALE";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      padding: 9px 16px;
      line-height: 1;
   }
}
.products__link-block {
   text-align: center;
}
.products__link {
   @extend %btn;
   background-color: #fff;
   border: 1px solid $red;
   color: $red;
   box-shadow: none;
   transition: all 0.3s linear;
   margin-top: 50px;
}
.products__link:hover {
   @extend %btn;
}

.promo {
   background: url("../images/promo-bg.jpg") no-repeat;
   background-size: cover;
   padding: 150px 0 160px;
   text-align: center;
   background-color: $bg;
}
.promo__inner {
   max-width: 570px;
   width: 100%;
   margin-left: auto;
}
.promo__subtitle {
   color: $red;
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 500;
   font-family: "Quicksand";
   margin-bottom: 10px;
}
.promo__clock {
   display: flex;
   justify-content: space-between;
   margin-top: 55px;
}
.promo__clock-item {
   background-color: #fff;
   border-radius: 50%;
   width: 120px;
   height: 120px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
}
.promo__clock-item span {
   font-size: 48px;
   font-weight: 700;
   color: $title;
   margin: 5px 0 10px;
}
.promo__link {
   @extend %btn;
   background-color: #fff;
   border: 1px solid $red;
   color: $red;
   box-shadow: none;
   transition: all 0.3s linear;
   margin-top: 50px;
}
.promo__link:hover {
   @extend %btn;
}
.partners {
   padding-top: 75px;
}
ul.partners__list {
   height: 170px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.blog {
   padding-top: 50px;
   padding-bottom: 160px;
   background: url("../images/blog/bg.svg") center no-repeat;
}
.blog__inner {
   display: flex;
   justify-content: space-between;
   position: relative;
}
.blog__item {
   max-width: 370px;
   border: 1px solid #ececec;
}
.blog__item:hover {
   border: none;
   box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
   .blog__item-link {
      color: $red;
      &::after {
         background-image: url("../images/blog/arrowred.svg");
         top: 10px;
      }
   }
}
.blog__item-box {
   padding: 30px 40px;
   a {
      color: $text2;
   }
}
.blog__item-img {
   display: block;
   img {
      height: 288px;
      object-fit: cover;
   }
}
.blog__item-info {
   display: flex;
   justify-content: space-between;
}
.blog__item-author,
.blog__item-data {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
   margin-bottom: 20px;
   padding-left: 30px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
   }
}
.blog__item-author::before {
   background-image: url("../images/blog/user.svg");
}
.blog__item-data::before {
   background-image: url("../images/blog/time.svg");
}
.blog__item__title {
   color: $title;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.455;
   margin-bottom: 20px;
}
.blog__item-link {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
   position: relative;
   transition: all 0.2s ease;
}
.blog__item-link::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 8px;
   right: -15px;
   top: 9px;
   background: url("../images/blog/arrow.svg") no-repeat;
}

.footer {
   background-color: $bg;
}
.footer__top {
   padding: 70px 0 40px;
   border-bottom: 1px solid $text2;
   display: flex;
}
.footer__top-item__contact {
   width: 240px;
   margin-right: 50px;
}
.footer__top-item__nav {
   width: 170px;
   margin-right: 30px;
}
.footer__top-item__form {
   max-width: 470px;
}
.footer__top-item .logo {
   display: block;
   margin-bottom: 33px;
}
.footer__top-address,
.footer__top-email,
.footer__top-phone,
.footer__top-list a {
   color: $text2;
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 36px;
}
.footer__top-address:hover,
.footer__top-email:hover,
.footer__top-phone:hover,
.footer__top-list a:hover {
   text-decoration: underline;
}
ul.footer__top-social__list {
   margin-top: 30px;
   display: flex;
   align-items: center;
}
.footer__top-social__item + .footer__top-social__item {
   padding-left: 18px;
}
.footer__top-social__link {
   transition: all 0.3s;
   path {
      fill: $text2;
   }
   &:hover {
      path {
         fill: $red;
      }
   }
}
.footer__top-title {
   font-size: 22px;
   color: $title;
   margin-bottom: 43px;
   line-height: 1;
}
.footer__top-text {
   margin-bottom: 30px;
}
.footer__top-form {
   display: flex;
}
.footer__top-form__input {
   min-width: 320px;
   width: 100%;
   border: none;
   padding: 12px 15px 12px 15px;
   font-size: 16px;
   box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
}
.footer__top-form__button {
   @extend %btn;
   border: none;
   padding: 12px 26px;
   font-size: 16px;
   text-align: center;
   margin-left: 10px;
   cursor: pointer;
}
.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
}
.footer__bottom-copy {
   font-style: 12px;
}
.footer__bottom-accept__img {
   display: inline-block;
   margin-left: 25px;
   vertical-align: middle;
}

// SHOP

.shop {
   padding: 120px 0 105px;
}
.shop__inner {
   display: flex;
}
.shop__filters {
   width: 370px;
   margin-right: 30px;
}
.filter__item {
   border: 1px solid $border;
   padding: 30px;
   margin-bottom: 30px;
}
.filter__search-title {
   text-align: left;
   font-size: 22px;
   margin-bottom: 15px;
}
.filter__search-form {
   display: flex;
}
.filter__search-input {
   border: none;
   background-color: $bg;
   padding: 0px 5px 0px 15px;
   height: 50px;
   width: 260px;
}
.filter__search-btn {
   background-color: $red;
   border: none;
   height: 50px;
   width: 50px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.filter__price-label {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}
.filter__price-btn {
   @extend %btn;
   border: none;
   padding: 11px 27px;
}
.irs--flat .irs-line {
   top: 13px;
   height: 5px;
   background-color: $border;
   border-radius: 0;
   cursor: pointer;
}
.irs--flat .irs-handle {
   top: 0px;
   width: 30px;
   height: 30px;
   background-color: #fff;
   box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
   cursor: pointer;
}
.irs--flat .irs-handle > i:first-child {
   display: none;
}
.irs--flat .irs-bar {
   top: 13px;
   height: 5px;
   background-color: $red;
   cursor: pointer;
}
.irs-from,
.irs-to,
.irs-single {
   display: none;
   top: 50px;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
   display: none;
}

.filter__color-label {
   padding-bottom: 20px;
   border-bottom: 1px solid $border;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.filter__color-label + .filter__color-label {
   padding-top: 20px;
}
.filter__color-label:last-child {
   border-bottom: none;
   padding-bottom: 0;
}
.filter__color-input {
   @extend %checkbox-hidden;
   &:checked + .filter__color-checkbox {
      background-image: url("../images/icons/check-on.svg");
   }
}

.filter__color-checkbox {
   width: 16px;
   height: 16px;
   position: absolute;
   margin-left: -16px;
   margin-top: 7px;
}
.filter__color-checkbox--blue {
   background-color: #00aeef;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--red {
   background-color: #f52574;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--green {
   background-color: #24d4ac;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--orange {
   background-color: #ff7e00;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--black {
   background-color: #000;
   background-repeat: no-repeat;
   background-position: center;
}
.filter__color-checkbox--purple {
   background-color: #923899;
   background-repeat: no-repeat;
   background-position: center;
}

.filter__title {
   font-size: 22px;
   text-align: left;
}
.filter__size-label {
   display: block;
   padding-left: 35px;
   margin-bottom: 20px;
   cursor: pointer;
}
.filter__size-input {
   @extend %checkbox-hidden;
   &:checked + .filter__size-checkbox {
      background-image: url("../images/icons/check-on-red.svg");
      background-repeat: no-repeat;
      background-position: center;
      & + .filter__size-text {
         color: $red;
      }
   }
}
.filter__size-checkbox {
   width: 20px;
   height: 20px;
   border: 1px solid $text2;
   border-color: $red;
   position: absolute;
   border-radius: 50%;
   margin-left: -35px;
   margin-top: 3px;
}

.filter__category-title {
   font-size: 22px;
   text-align: left;
}
.filter__category-label {
   margin-bottom: 15px;
   cursor: pointer;
   display: block;
   &:last-child {
      margin-bottom: 0;
   }
}
.filter__category-input {
   @extend %checkbox-hidden;
   &:checked + .filter__category-checkbox {
      background-color: $red;
      color: #fff;
   }
}
.filter__category-checkbox {
   background-color: $bg;
   color: $title;
   display: flex;
   justify-content: space-between;
   padding: 16px 20px;
}

.filter__popular-label {
   display: inline-block;
   margin-bottom: 20px;
   margin-right: 3px;
   cursor: pointer;
   padding: 10px 0px;
}
.filter__popular-input {
   @extend %checkbox-hidden;
   &:checked + .filter__popular-checkbox {
      background-color: $red;
      border-color: $red;
      color: #fff;
   }
}
.filter__popular-checkbox {
   border: 1px solid $border;
   padding: 10px 20px;
}
.shop__content {
}

@import "media.scss";
