.blog {
   padding-top: 50px;
   padding-bottom: 160px;
   background: url("../images/blog/bg.svg") center no-repeat;
}
.blog__inner {
   display: flex;
   justify-content: space-between;
   position: relative;
}
.blog__item {
   max-width: 370px;
   border: 1px solid #ececec;
}
.blog__item:hover {
   border: none;
   box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
   .blog__item-link {
      color: $red;
      &::after {
         background-image: url("../images/blog/arrowred.svg");
         top: 10px;
      }
   }
}
.blog__item-box {
   padding: 30px 40px;
   a {
      color: $text2;
   }
}
.blog__item-img {
   display: block;
   img {
      height: 288px;
      object-fit: cover;
   }
}
.blog__item-info {
   display: flex;
   justify-content: space-between;
}
.blog__item-author,
.blog__item-data {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
   margin-bottom: 20px;
   padding-left: 30px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 3px;
   }
}
.blog__item-author::before {
   background-image: url("../images/blog/user.svg");
}
.blog__item-data::before {
   background-image: url("../images/blog/time.svg");
}
.blog__item__title {
   color: $title;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.455;
   margin-bottom: 20px;
}
.blog__item-link {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
   position: relative;
   transition: all 0.2s ease;
}
.blog__item-link::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 8px;
   right: -15px;
   top: 9px;
   background: url("../images/blog/arrow.svg") no-repeat;
}