.modal {
   max-width: 570px;
   margin: 0 auto 115px;
   padding-top: 100px;
}
.modal__links {
   margin-bottom: 40px;
   text-align: center;
}
.modal__link {
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 400;
   color: #909090;
   margin: 0 30px;
}
.modal__link--active {
   color: $red;
}
.modal__form {
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
}
.modal__label {
   display: block;
   margin-bottom: 40px;
}
.modal__label--checkbox {
   margin-bottom: 20px;
}
.modal__input {
   display: block;
   width: 100%;
   border: none;
   background-color: $bg;
   margin-top: 4px;
   height: 60px;
   padding: 0 15px;
}
.modal__text {
   margin-bottom: 25px;
}
.modal__btn {
   background-color: $title;
   color: #fff;
   border: none;
   display: block;
   width: 100%;
   padding: 14px 0;
   cursor: pointer;
   text-transform: uppercase;
}
.modal__error {
   color: $red;
   margin-top: 12px;
   font-size: 16px;
   font-family: "Quicksand";
   font-weight: 500;
}
